VITE_SUPABASE_URL=https://rhwetitiavofdxpmjaex.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJod2V0aXRpYXZvZmR4cG1qYWV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk4MzI2MDYsImV4cCI6MjA2NTQwODYwNn0.yhB5ZuX3FrxIHLr2aOOJaFl6fMAFVrPUJEBMjXA4Mno